body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333 !important;
}

#btnRestart {
    border-radius: 22px;
}


.topNav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
}

.scoreEl {
    font-weight: bold;
    -moz-user-select: none;
    -webkit-user-select: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}